{{#each crumb in breadCrumbs}}
  <li {{bind-attr class="crumb.isCurrent:current:"}}>
    {{#if crumb.linkable}}
      {{#link-to crumb.path crumb.model}}
        {{crumb.label}}
      {{/link-to}}
    {{else}}
      {{crumb.label}}
    {{/if}}
  </li>
{{/each}}
