{{bread-crumbs}}

<h2 id="title">Welcome to Ember</h2>

0. {{#link-to "account" class="map-link"}}account{{/link-to}}
1. {{#link-to "account.password" class="map-link"}}account.password{{/link-to}}
2. {{#link-to "account.finance" class="map-link"}}account.finance{{/link-to}}

3. {{#link-to "tools" class="map-link"}}tools{{/link-to}}
4. {{#link-to "tools.hammer" class="map-link"}}tools.hammer{{/link-to}}
5. {{#link-to "tools.hammer.new" class="map-link"}}tools.hammer.new{{/link-to}}
6. {{#link-to "tools.screwdriver" class="map-link"}}tools.screwdriver{{/link-to}}
7. {{#link-to "tools.screwdriver.new" class="map-link"}}tools.screwdriver.new{{/link-to}}

{{outlet}}